<!doctype html>
<html lang="{{ request.locale.iso_code }}">
<head>
  {%- render 'meta-tags' -%}
  <title>{{ shop.name }}</title>
  {{ content_for_header }}
  {%- render 'css-variables' -%}
  {{ 'base.css' | asset_url | stylesheet_tag }}
  {{ 'components.css' | asset_url | stylesheet_tag }}
</head>
<body class="template-password">
  <main id="MainContent">{{ content_for_layout }}</main>
</body>
</html>
